.header {
  padding: 30px;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: flex-end;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.section-checkbox {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 20px;
  background-color: gray;
  text-align: center;
  color: white;
  font-size: 20px;
}
