.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 500px;
}

.section-checkbox {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 20px;
  background-color: gray;
  text-align: center;
  color: white;
  font-size: 20px;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 20px;
}

#trybewarts-header-title {
  color: white;
  font-size: 38px;
}

.nome-sobrenome {
  flex-direction: row;
}

.email-casa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.radio-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linha1 {
  width: 670px;
  border: 1px solid black;
}

.linha2 {
  width: 670px;
  border: 1px solid black;
}

.div-select {
  display: flex;
  font-size: 20px;
}

#submit-btn {
  width: 100%;
}
